body {
  background:var(--background);
  color: var(--text);
  font-family: "Open Sans", "segoe ui", helvetica, arial, sans-serif;
  font-size: calc(.5em + 1vw);
  margin: 0;
  padding: 1em 2em;
  max-width: 40em;
  margin: 0 auto;
}

h1 {
  font-size: 3vmax;
  font-weight: normal;
  color: var(--h1colour);
}
