<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>details/summary/colourcode demo</title>
    <link rel="stylesheet" href="assets/light-theme.css" media="(prefers-color-scheme: light), (prefers-color-scheme: no-preference)">
    <link rel="stylesheet" href="assets/dark-theme.css" media="(prefers-color-scheme: dark)">
    <link rel="stylesheet" href="assets/styles.css" media="(prefers-color-scheme: light), (prefers-color-scheme: no-preference)">
</head>
<body>

  {% include detail-summary.html html=content %}

</body>
</html>

